
/* CSS pour la partie Block */

.banner {
	height: 900px;
	display: flex;
	justify-content: center ;
	align-items: center;
	position: relative;

	@media screen and (max-width: 770px) {
	    height: 250px;
	}

	& img {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		object-fit: cover;
		position: absolute;
		top: 3px;
		animation: AnimationVersBas 2s;
		}
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 85%;
	height: 10%;
	font-family: "space_monobold_italic", sans-serif;
	font-style: italic;
	font-weight: 700;
	font-size: 6vw;
	line-height: 10vh;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 3px #ffffff;
	-webkit-text-fill-color: transparent;
	z-index: 1;
	
	animation: AnimationVersHaut 2s;

	@media screen and (max-width: 770px) {
	-webkit-text-stroke: 1px #ffffff;
	}
}

#filtrePhoto {
	padding-top: 50px;
	width: 1140px;
	height: 43px;
	display: flex;
	justify-content: space-between;
	margin: auto;

	@media screen and (max-width: 770px)  {
	width: 315px;
	}

  @media screen and (min-width: 770px) and (max-width: 1140px) {
    width: 715px;
  }

  @media screen and (max-width: 340px) {
    flex-direction: column;
    gap: 2px;
    margin-bottom: 50px;
  }
}

.blockCatalogue {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	margin-top: 43px;
	gap: 10px;
	}

.custom-select {
	width: 260px;
	height: 43px;
	border: 1.3px solid #B8BBC2;
	border-radius: 8px;
	padding: 10px 20px;   //zz
	font-size: 16px;      //zz
	background-color: transparent;

	@media screen and (min-width: 770px) and (max-width: 1140px) {
	  width: 145px;
	}

	@media screen and (max-width: 770px) {
	  width: 100px;
	  padding:0px;
	  height: 30px;
  }
}

@media screen and (max-width: 770px) {
  #categorie {
  	margin-right: 270px;
  }
}

#format {
	margin-left: -270px;
}

#plusDImage {
	display: block;
	position: relative;
	width: 270px;
	height: 50px;
	line-height: 100%;
	background-color:  #D8D8D8;
	font-family: space_monoregular;
	font-weight: 400;
	font-size: 12px;
	border-radius: 2px;
	border: none;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 5%;

	&:hover {
		cursor: pointer;
		background-color: black;
		color: white;
	}
}

#blockPusdImage{
	width: 100%;
}

.defaultOption {
	&:hover {
		background-color: #FFD6D6;
	}
}

.critereFiltrage {
	font-family: PoppinsRegular;
	font-size: 20px;
	text-align: center;
}