
/* CSS pour la LightBox */

.PhotoSimilaire {
	margin:0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;

	@media screen and (max-width: 765px) {
		flex-direction: column;
		align-items: center;
	}
}

.blockPhotoRelative {
	flex-shrink: 0;
	position: relative;
	width: 564px;
	height: 495px;
	margin-bottom: 10px;
	@media screen and (min-width: 765px) and (max-width: 1140px){
		width: 370px;
	}
	@media screen and (max-width: 765px) {
		width: 318px;
		height: 279px;
	}

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.overlay:hover .eye-icon,
	.overlay:hover .fullscreen-icon {
		display: block;
	}
}
.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;                           
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: opacity 0.3s, background-color 0.3s;

	&:hover {
		opacity: 0.8;
		background-color: rgba(0, 0, 0, 0.8);

		h2, h3 {
			display: block;
		}
	}

	h2 {
		position: absolute;
		left: 10px;
		top: 440px;
		color: white;
		font-family: PoppinsRegular;
		font-size: 14px;
		display: none;

		@media screen and (max-width: 765px) {
			top: 227px;
			font-size: 12px;
		}
	}

	h3 {
		position: absolute;
		left: 476px;
		top: 452px;
		color: white;
		font-family: PoppinsRegular;
		font-size: 14px;
		display: none;

		@media screen and (max-width: 765px) {
			left: 240px;
			top: 237px;
			font-size: 12px;
			}

		@media screen and (min-width: 765px) and (max-width: 1140px){
			left: 289px;
			}
	  }

	.eye-icon {
		width: 46px;
		height: 31.2px;
		top: 231.4px;
		left: 255px;
		position: absolute;
		display: none;

		@media screen and (max-width: 765px) {
			top: 135px;
			left: 140px;
			}

		@media screen and (min-width: 765px) and (max-width: 1140px){
		left: 175px;
			}
	}

	.fullscreen-icon {
		position: absolute;
		cursor: pointer;
		z-index: 3;
		width: 34px;
		height: 34px;
		top: 11px;
		left: 512px;
		border: 1px;
		display: none;

		@media screen and (max-width: 765px) {
			top: 17px;
			left: 267px;
		}
		
		@media screen and (min-width: 765px) and (max-width: 1140px){
			left: 317px;
		}
	}
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8)!important;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.lightbox .fermelightbox {
	position: absolute;
	top: 40px;
	right: 18%;
	font-size: 23px;
	cursor: pointer;
	color: #fff;
	@media screen and (max-width: 1140px) {
		right: -8%;
	}
}

.lightbox .lightboxPrecedent,
.lightbox .lightboxSuivant {
	font-family: space_monoregular;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;

	position: absolute;
	top: 50%;
	transform: translateY(-50%);

	cursor: pointer;
	color: #fff;

	@media screen and (max-width: 765px) {
		top:89%;
	}

	@media screen and (min-width: 200px) and (max-width: 300px) {
		//right: 6%;
		right: 0%;
		top: 95%;
	}	

	&:hover {
		font-size: 15px;
		font-weight: 900;
		cursor: pointer;            // Ajoutez ceci si vous voulez aussi changer le curseur au survol
	}
}

.lightbox .lightboxPrecedent {
	//left: 3%;
	left: 12%;

	@media screen and (min-width: 765px) and (max-width: 1140px){
		left: -18%;
		font-size: 25px;
		z-index: 1;
		top: 80%;

		&:hover {
			font-size: 30px;
		}
	}

	@media screen and (min-width: 400px) and (max-width: 765px) {
		//right: 6%;
		right: 0%;
		left: 0%;
		//top: 87%;
		top: 95%;
	}

	@media screen and (min-width: 200px) and (max-width: 400px) {
		//right: 6%;
		//right: 0%;
		top: 95%;
		left: -11%;
	}	

}

.lightbox .lightboxSuivant {
	//right: 5%;
	right: 15%;

	@media screen and (min-width: 765px) and (max-width: 1140px){
	  right: -16%;
	  font-size: 25px;
	  z-index: 1;
	  top: 80%;

	  &:hover {
	    font-size: 30px;
	  }
	}

	@media screen and (min-width: 400px) and (max-width: 765px) {
		//right: 6%;
		right: 0%;
		top: 95%;
	}

	@media screen and (min-width: 200px) and (max-width: 400px) {
		//right: 6%;
		//right: 0%;
		top: 95%;
		right: -8%;
	}

}

.lightboxImage {
	width: 564px;
	height: 495px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: cover;
	@media screen and (max-width: 1140px) {
		width: 100%;
	}
}

.lightbox .lightbox-caption {
	color: #fff;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}

.lightboxReference {
	font-family: PoppinsRegular;
	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	text-align: left;
	position: absolute;
	text-transform: uppercase;

	z-index: 1;
	bottom: 110px;
	left: 482px;
	color: #fff;

	width: 170px;
	height: 21px;

	@media screen and (min-width: 250px) and (max-width: 350px) {
		bottom: 62px;
		//left: 180px;
		left: 2px;
		width: 80px;
		z-index: 1;
	}

	@media screen and (min-width: 350px) and (max-width: 400px) {
		bottom: 62px;
		//left: 230px;
		 //left: 25px;
		 left: 0px; 
		width: 80px;
		z-index: 1;
	}

	@media screen and (min-width: 400px) and (max-width: 765px) {
		//bottom: 62px;
		  //bottom: 110px;
		  bottom: 80px;
		//left: 240px;
		left: 22px;
		width: 80px;
		z-index: 1;
	}

	@media screen and (min-width: 765px) and (max-width: 1024px) {
		bottom: 10px;
		//left: 240px;
		left: 17px;
		width: 80px;
		z-index: 1;
		font-size: 25px;
	}	

	@media screen and (min-width: 1024px) and (max-width: 1140px){
		bottom: 15px;

		width: 80px;
		font-size: 22px;
		left: 0px;
	}
}

.lightboxCategorie {
	font-family: space_monoregular;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
	text-align: right;
	position: absolute;
	text-transform: uppercase;
	z-index: 1;

	bottom: 110px;
	right: 482px;
	color: #fff;

	@media screen and (min-width: 250px) and (max-width: 350px) {
		bottom: 62px;
		right: 10px;
		z-index: 1;
	}

	@media screen and (min-width: 350px) and (max-width: 400px) {
		bottom: 62px;
		//right: 180px;
		right: 15px;
		z-index: 1;
	}

	@media screen and (min-width: 400px) and (max-width: 765px) {
		//bottom: 62px;
		//right: 200px;
		  // bottom: 110px;
		bottom: 80px;
		right: 20px;
		z-index: 1;
	}

	@media screen and (min-width: 765px) and (max-width: 1024px) {
		bottom: 10px;
		//right: 200px;
		right: 15px;
		z-index: 1;
		font-size: 25px;
	}	

	@media screen and (min-width: 1024px) and (max-width: 1140px){
		bottom: 15px;
		//right: 455px;
		right: 15px;
		font-size: 22px;
	}
}

.lightboxPhoto {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 564px;
	height: 495px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;

	@media screen and (max-width: 1140px) {
		width: 100%;
	}
}

.lightbox-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	height: 100%;

	@media screen and (max-width: 1140px) {
		width: 70%;
	}
}
