
/* CSS pour la Modale Popup de Contact */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 3, 0.8);   /* #00000388;   c'est ca qui fait un aspect d'Overlay */
    display: none;                      /* elle sera activer par Jquery avec la methode css('display', 'flex'); */
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &.open {
        display: flex;
    }
} 

.popup-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 512px;
    border: 2px solid black;
    background: white;
    margin-top: 16px;
    padding: 8px 40px 40px 40px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

/* Responsive pour le mobile */

@media screen and (max-width: 465px) {
    .popup-contact {
        max-width: 270px;
        height: auto;
    }
}