/* Ajouter du CSS pour personnaliser Select2 */
.select2-container--default .select2-selection--single {
    border: 1px solid #ced4da; /* Couleur de la bordure */
    border-radius: 4px; /* Coins arrondis */
}

/* Ajouter du CSS pour personnaliser Select2 */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: transparent !important;
  color: #000 !important;
}

.select2-container--default .select2-results__option:hover {
  background-color: #FE5858 !important;
  color: white !important;
}
.select2-container--default .select2-results__option:first-child {
  background-color: #FFD6D6 !important;
  color: #000 !important;
}
.select2-container--default .select2-results__option:not(:first-child)[aria-selected=true] {
  background-color: #E00000 !important;
  color: #fff !important
}
